@model DetailsRestaurantViewModel

<nav class="d-flex flex-wrap justify-content-between bg-light">
    <div class="mx-auto">
        <div class="nav-item active">
            <a class="nav-link text-primary" id="latest-comments" asp-area="restaurants" asp-controller="Comments" asp-action="LatestComments" asp-route-restaurantId="@Model.Id" asp-route-restaurantName="@Model.RestaurantName">
                <i class="fa fa-comments"></i>
                New Comments
            </a>
        </div>
    </div>
    <div class="vertical-row"></div>
    <div class="mx-auto">
        <div class="nav-item">
            <a class="nav-link text-primary" id="most-popular" asp-area="restaurants" asp-controller="Comments" asp-action="MostPopularComments" asp-route-restaurantId="@Model.Id" asp-route-restaurantName="@Model.RestaurantName">
                <i class="fa fa-star"></i>
                Popular Posts
            </a>
        </div>
    </div>
</nav>

<div class="commentDiv">
   <partial name="./PartialViews/_CommentsPartialView" model="Model" />
</div>