/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
* {
    box-sizing: border-box;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

img {
    position: relative;
    width: 22rem;
    height: 13rem;
}

.restaurantImage {
    width: 13rem;
    height: 13rem;
    border: 1px solid black;
    border-radius: 50% !important;
}

.required:after {
    content: " *";
    color: red;
}

.button-to-top {
    position: fixed;
    bottom: 30px;
    right: 56px;
    text-decoration: none;
    color: #000;
    background-color: rgba(35,68,101,.5);
    z-index: 1035;
}

.display-image {
    width: 22rem;
    height: 15rem;
}

.pictureBtn {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    opacity: 0.5;
}

.pictureBtn:hover {
    opacity: 1.0;
}
