@model RestaurantsPlatform.Web.ViewModels.CategoryImages.UpdateCategoryImageViewModel
@{
    ViewData["Title"] = "Update Image";
}

<div class="text-center mx-auto">
    <h1 class="m-4">
        Update category image
    </h1>
    <img class="mx-auto d-block" src="@Model.ImageUrl" alt="Category Image" />
</div>

<form class="text-center" method="POST" asp-controller="CategoryImages" asp-action="Update">
    <div class="form-group">
        <input asp-for="CategoryId" class="form-control" hidden />
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl" class="control-label"></label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input class="btn btn-outline-success" value="Update picture" type="submit" />
    </div>
</form>