@model IEnumerable<RestaurantsPlatform.Web.ViewModels.Categories.AllCategoriesViewModel>

@{
    ViewData["Title"] = "Restaurant Categories";
}

<h1 class="m-4 text-center">Restaurant categories</h1>

<div class="row d-flex justify-content-around">
    @foreach (var category in Model)
    {
        <div class="row col-md-6 col-lg-4 media mb-4">
            <partial name="_CategoryDetails" model="category"/>
        </div>
    }
</div>


@section scripts{
    <script type="text/javascript" src="~/js/functions/imagesButtonsFunction.js"></script>
}