@model RestaurantsPlatform.Web.ViewModels.Categories.CreateCategoryInputModel

@{
    ViewData["Title"] = "Create Category";
}

<h1 class="text-center">Create Category</h1>

<div class="mx-auto w-50">
    <hr />
    <div>
        <form asp-controller="Categories" asp-action="Create" method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Create" class="btn btn-outline-primary" />
                <a class="btn btn-outline-secondary" asp-controller="Categories" asp-action="All">Back to All</a>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/js/functions/requiredStar.js"></script>
}
