@model RestaurantsPlatform.Web.ViewModels.Categories.UpdateCategoryViewModel

@{
    ViewData["Title"] = "Update " + Model.Name;
}

<h1 class="text-center">Update</h1>

<div class="mx-auto w-50">
    <hr />
    <div>
        <form asp-controller="Categories" asp-action="Update" method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" rows="8" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Save" class="btn btn-outline-primary" />
                <a class="btn btn-outline-secondary" asp-route="category" asp-route-id="@Model.Id" asp-route-name="@Model.Url">
                    Back to Details
                </a>
            </div>
        </form>
    </div>
</div>

<div>
</div>

