@using RestaurantsPlatform.Web.ViewModels.PartialModels;
@model RestaurantsPlatform.Web.ViewModels.RestaurantsImages.UpdateRestaurantImageViewModel

@{
    ViewData["Title"] = "Update " + Model.RestaurantName;
    var partialModel = new HeadingPartialViewModel("Old Picture", "restaurantImages", null, Model.Id, "gallery", Model.Url);
}

<div class="text-center mx-auto">
    <partial name="_Heading" model="partialModel" />
    <img class="mx-auto d-block" src="@Model.ImageUrl" alt="Category Image" />
</div>

<form class="text-center" method="POST" asp-controller="RestaurantImages" asp-action="Update">
    <div class="form-group">
        <input asp-for="Id" class="form-control" hidden />
    </div>
    <div class="form-group">
        <input asp-for="RestaurantName" class="form-control" hidden />
    </div>
    <div class="form-group">
        <input asp-for="ImageUrl" name="OldImageUrl" class="form-control" hidden />
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl" class="control-label"></label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input class="btn btn-outline-success" value="Update picture" type="submit" />
    </div>
</form>

