@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@model RestaurantsPlatform.Web.ViewModels.ContactInputModel

@{
    ViewData["Title"] = "Contact";
}

<div class="row">
    <div class="d-none d-lg-block col-sm-6 image-container">
        <img src="~/Contact-Picture.png" class="contact-image" alt="Contact image">
    </div>
    <div class="col-xs-12 col-lg-6">
        <form method="POST" asp-route="default" asp-route-controller="home" asp-route-action="contact">
            <fieldset class="p-3 rounded contact-fieldset">
                <legend class="font-weight-bold text-success d-inline">Get in touch</legend>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="EmailTo" class="control-label"></label>
                    <input asp-for="EmailTo" class="form-control" readonly />
                    <span asp-validation-for="EmailTo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Subject" class="control-label"></label>
                    <input asp-for="Subject" class="form-control" />
                    <span asp-validation-for="Subject" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <textarea asp-for="Content" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <input type="hidden" id="RecaptchaValue" name="RecaptchaValue" />
                <div class="form-group text-center d-flex align-self-center justify-content-center">
                    <input type="submit" value="Send email" class="btn btn-success" />
                    &nbsp;
                    <section class="github-section">
                        <div class="button" title="Follow me on github">
                            <a class="github-button" href="https://github.com/Botche" data-color-scheme="no-preference: light; light: light; dark: dark;" data-size="large" aria-label="Follow @@Botche on GitHub">Follow @@Botche</a>
                        </div>
                        <div class="cover">
                            <div class="innie">
                                <svg role="img" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><title>GitHub icon</title><path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12" /></svg>
                            </div>
                            <div class="spine"></div>
                            <div class="outie">
                                <svg role="img" viewBox="0 -1 30 30" xmlns="http://www.w3.org/2000/svg"><title>GitHub icon</title><path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12" /></svg>
                            </div>
                        </div>
                    </section>
                </div>
            </fieldset>
        </form>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/js/functions/requiredStar.js" asp-append-version="true"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=@this.Configuration["GoogleReCaptcha:SiteKey"]"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('@this.Configuration["GoogleReCaptcha:SiteKey"]', { action: 'contact' }).then(function (token) {
                document.getElementById("RecaptchaValue").value = token;
            });
        });
    </script>
}