@using RestaurantsPlatform.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    @if (this.User.Identity.Name == null)
    {
        <p><a href="/Identity/Account/Login">Login</a> to browse a lot of restaurants .</p>
    }
    else
    {
        <p><a asp-route="default" asp-route-controller="categories" asp-route-action="all">Browse</a> all variations of restaurants.</p>
    }
</div>
